.header__login-button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: block;
  color: #fff;
}