@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__button/profile__button.css);
@import url(./blocks/profile/__user/profile__user.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__personal-data/profile__persnal-data.css);
@import url(./blocks/profile/__profession/profile__profession.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__add-button-pic/profile__add-button-pic.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__edit-button-pic/profile__edit-button-pic.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/elements/__element/elements__element.css);
@import url(./blocks/elements/__title/elements__title.css);
@import url(./blocks/elements/__image/elements__image.css);
@import url(./blocks/elements/__text-container/elements__text-container.css);
@import url(./blocks/elements/__like/elements__like.css);
@import url(./blocks/elements/__like-counter/elements__like-counter.css);
@import url(./blocks/elements/__like-icon/elements__like-icon.css);
@import url(./blocks/elements/__like-button/elements__like-button.css);
@import url(./blocks/elements/__like-icon/_active/elements__like-icon_active.css);
@import url(./blocks/elements/__basket/elements__basket.css);
@import url(./blocks/elements/__basket-button/elements__basket-button.css);
@import url(./blocks/elements/__basket-button/_is-visible/elements__basket-button_is-visible.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__author/footer__author.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup-picture/popup-picture.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup-confirm/__container/popup-confirm__container.css);
@import url(./blocks/popup-confirm/__button/popup-confirm__button.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__close-img/popup__close-img.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__form-field/popup__form-field.css);
@import url(./blocks/popup/__form-field/_type_error/popup__form-field_type_error.css);
@import url(./blocks/popup/__input-container/popup__input-container.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/popup/_is-opened/popup_is-opened.css);
@import url(./blocks/popup/__img/popup__img.css);
@import url(./blocks/popup/__photo-title/popup__photo-title.css);
@import url(./blocks/popup/__form-input-error/popup__form-input-error.css);